/*
This is external style sheet.

*/


/*Tag based or element based styling
 4 least priority*/

body {
    background-color: gainsboro;
}
label {
    font-size: 20px;
    color: brown;
    font-style: italic;
}
td {
    border: 2px black solid;
    padding: 10px;
}

/*class based styling
3
*/

.lbl-control {
    font-size: 24px;
    color: darkred;
}

/*id based styling
2*/

#lblAge {
    font-size: 14px;
    color: yellow;
}
.tbl-control {
    border: 2px black solid;
    margin: 30px;
}
